<main class="main">
    <div class="wide-column">
        <div class="social-results">
            <app-social-result
                [isHidden]="isHidden"
                [isDone]="isDone"
                [streams]="streams"
                [provider]="provider"
                [state]="state"
                [addStreamsTitle]="addStreamsTitle"
                (expand)="expandStreams($event)"
                (add)="addStream($event)"
                (remove)="removeStream($event)"
            ></app-social-result>
        </div>
    </div>
    <div class="thin-column">
        <p>Dashboard thin column</p>
    </div>
</main>
