.main {
    .medium-column {
        .go-back {
            width: 300px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            transition: opacity 0.2s;
            opacity: 1;

            &:hover {
                opacity: 0.6;
            }

            .material-icons {
                margin-right: 10px;
            }
        }

        .form {
            display: flex;
            flex-direction: column;

            .form-input {
                margin-bottom: 20px;

                &:nth-child(4) {
                    margin-bottom: 30px;
                }
            }

            .help {
                margin-bottom: 15px;

                .help-requirement {
                    height: 20px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .material-icons {
                        position: absolute;
                        font-size: 20px;
                        left: 0;
                    }

                    .help-text {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}
