.main {
    .medium-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form {
            display: flex;
            flex-direction: column;

            .form-input {
                margin-bottom: 20px;

                &:nth-child(4) {
                    margin-bottom: 30px;
                }
            }

            .form-button.back {
                margin-top: 20px;
            }

            .help {
                margin-bottom: 15px;

                .help-requirement {
                    height: 20px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .material-icons {
                        position: absolute;
                        font-size: 20px;
                        left: 0;
                    }

                    .help-text {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}
