@import '~@angular/material/theming';

@mixin badges($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    .badge {
        min-width: 300px;
        min-height: 40px;
        color: mat-color($primary, 50);
        display: flex;
        align-items: center;
        border-radius: 3px;
        padding: 8px 20px;

        &.success {
            background: mat-color($warn, 100);
            box-shadow: 0 10px 25px rgba(mat-color($warn, 100), 0.3);
        }

        &.error {
            background: mat-color($warn, 50);
            box-shadow: 0 10px 25px rgba(mat-color($warn, 50), 0.3);
        }

        .material-icons {
            margin-right: 20px;
        }
    }
}
