@import '~@angular/material/theming';

@mixin cards($theme) {
    $primary: map-get($theme, primary);

    .card {
        width: 200px;
        padding: 10px;
        min-height: 50px;
        cursor: pointer;
        border-radius: 10px;
        background: transparent;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.15;
            border-radius: 10px;
            box-shadow: 0 10px 25px mat-color($primary, 300);
            transition: opacity 0.2s;
            z-index: -1;
        }

        &:hover {
            &::after {
                opacity: 0.25;
            }
        }
    }
}
