@import '~@angular/material/theming';

@mixin search-results($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .search-results {
        &.small {
            border-radius: 10px;
            box-shadow: 0 10px 25px rgba(mat-color($primary, 400), 0.03);
        }

        app-search-result {
            .search-result {
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                justify-content: space-between;
                background: mat-color($primary, 50);

                .info {
                    display: flex;
                    align-items: center;
                    border-radius: 10px;

                    .paragraphs-wrapper {
                        display: flex;
                        flex-direction: column;
                        margin-left: 20px;
                    }

                    .counter {
                        .number {
                            color: mat-color($accent, 100);
                            font-weight: 600;
                        }
                    }
                }

                .material-icons {
                    font-size: 30px;
                    transition: margin 0.2s;
                }

                &.big {
                    max-width: 600px;
                    max-height: 100px;
                    padding: 18px 10px;
                    border-radius: 10px;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        box-shadow: 0 10px 25px rgba(mat-color($primary, 400), 0.03);
                        transition: opacity 0.2s;
                        z-index: -1;
                        opacity: 0;
                    }

                    &:hover {
                        &::after {
                            opacity: 1;
                        }

                        .material-icons {
                            margin-right: 15px;
                        }
                    }
                }

                &.small {
                    max-width: 300px;
                    max-height: 50px;
                    padding: 10px;
                    transition: background 0.2s;
                    border-radius: 0;
                    border-bottom: 1px solid mat-color($primary, 100);

                    &:hover {
                        background: mat-color($primary, 100);
                    }

                    .account-type {
                        margin-right: 15px;
                    }
                }
            }

            &:first-child {
                .search-result.small {
                    border-radius: 10px 10px 0 0;
                }
            }

            &:last-child {
                .search-result.small {
                    border: none;
                    border-radius: 0 0 10px 10px;
                }
            }
        }
    }
}
