@import '~@angular/material/theming';

@mixin status($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .status {
        background: mat-color($primary, 400);

        &.active {
            background: mat-color($accent, 100);
        }
    }
}
