@import '~@angular/material/theming';

@mixin status($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .status {
        display: flex;
        justify-content: space-between;

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: mat-color($primary, 400);

            &.active {
                background: mat-color($accent, 100);
            }
        }
    }
}
