@import '~@angular/material/theming';
@import '../palette';

$providers: (
    'facebook': $facebook,
    'twitter': $twitter,
    'instagram': $instagram,
    'youtube': $youtube,
    'tiktok': $tiktok,
    'spotify': $spotify,
);

@mixin stories($theme) {
    .story {
        width: 70px;
        margin: 0 15px 15px 0;

        &:last-child {
            margin-right: 0;
        }

        @each $provider-name, $provider-color in $providers {
            &.#{$provider-name} .elipse {
                background: $provider-color;
            }
        }

        .elipse {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: 0 auto 10px auto;
        }

        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
