<div class="results">
    <app-search-result
        [avatar]="avatar"
        [username]="username"
        [followers]="followers"
        [accountType]="accountType"
        [size]="size"
    ></app-search-result>
    <app-search-result
        [avatar]="avatar"
        [username]="username"
        [followers]="followers"
        [accountType]="accountType"
        [size]="size"
    ></app-search-result>
    <app-search-result
        [avatar]="avatar"
        [username]="username"
        [followers]="followers"
        [accountType]="accountType"
        [size]="size"
    ></app-search-result>
</div>
