<main class="main center" [@slideUp]>
    <div class="medium-column">
        <h1 class="heading primary-400 size-40 bold center">Merg</h1>
        <div class="content">
            <span class="illustration creator"></span>
            <p class="primary-200 size-14 semi-bold center">
                Regardless of how many profiles you run,
                <br />
                we believe that you are the one of a kind.
            </p>
            <p class="primary-200 size-14 semi-bold center">
                Forget about posting the same thing
                <br />
                wherever you can, create where you like to.
            </p>
            <p class="primary-200 size-14 semi-bold center">
                Forget about anyone pretending
                <br />
                to be You on the Internet.
            </p>
            <p class="primary-200 size-14 semi-bold center">
                Let everyone get to know you better.
                <span class="primary-400 size-14 semi-bold">Merg.</span>
            </p>
        </div>
        <app-button class="form-button" message="merge" [type]="buttons.PRIMARY" (handleClick)="submit()"></app-button>
    </div>
</main>
