$merg-black: #040707;
$merg-grey-1: #222222;
$merg-grey-2: #333333;
$merg-grey-3: #808080;
$merg-grey-4: #eef0f1;
$merg-white: #ffffff;
$merg-blue-1: #1c2ecc;
$merg-blue-2: #2947f2;
$merg-blue-3: #59beff;
$merg-green-1: #27c96c;
$merg-green-2: #60e298;
$merg-orange: #feba12;

$facebook: #0078ff;
$twitter: #1da1f2;
$instagram: #dd2a7b;
$youtube: #ff0000;
$tiktok: #010101;
$spotify: #1ed761;
