<main class="main center minimal" [@slideUp]>
    <div class="medium-column">
        <div class="button go-back" (click)="goBack()">
            <i class="material-icons primary-200">arrow_back</i>
            <span class="primary-200 medium size-14">Go back</span>
        </div>
        <form [formGroup]="signInForm" class="form" (ngSubmit)="submit()">
            <app-input class="form-input" [type]="emailControl"></app-input>
            <app-password
                class="form-input"
                [type]="passwordControl"
                [value]="signInForm.value.password"
            ></app-password>
            <app-button
                class="form-button"
                message="sign in"
                [type]="signInButtonType"
                [disabled]="!signInForm.valid"
            ></app-button>
        </form>
        <app-button
            class="button-external"
            message="Continue with Facebook"
            provider="facebook"
            [type]="externalButtonType"
            (click)="handleFacebookSignIn()"
        ></app-button>
        <app-button
            class="button-external"
            message="Continue with Google"
            provider="google"
            [type]="externalButtonType"
            (click)="handleGoogleSignIn()"
        ></app-button>
    </div>
</main>
