<main class="main center" [@slideUp]>
    <div class="medium-column">
        <div class="headings">
            <h1 class="heading primary-400 size-40 bold center">Streams</h1>
            <h5 class="sub-heading primary-200 size-14 semi-bold center">
                Add streams for your Merg members.
            </h5>
        </div>
        <ul class="providers-results" [@mergingRoll]="activeStepIDX">
            <!--   PREVIOUS  -->
            <li class="provider-result">
                <app-social-result
                    *ngIf="previousProvider"
                    [provider]="previousProvider"
                    [providerDetails]="previousProviderDetails"
                    [isHidden]="true"
                    [isExpanded]="false"
                    [isDone]="true"
                    (add)="addProviderDetails($event)"
                    (remove)="removeProviderDetails($event, previousProvider)"
                ></app-social-result>
            </li>
            <!--   ACTIVE  -->
            <li class="provider-result">
                <app-social-result
                    *ngIf="activeProvider"
                    [provider]="activeProvider"
                    [providerDetails]="activeProviderDetails"
                    [isHidden]="false"
                    [isExpanded]="true"
                    [isDone]="false"
                    (add)="addProviderDetails($event)"
                    (remove)="removeProviderDetails($event, activeProvider)"
                ></app-social-result>
            </li>
            <!--   NEXT  -->
            <li class="provider-result">
                <app-social-result
                    *ngIf="nextProvider"
                    [provider]="nextProvider"
                    [providerDetails]="nextProviderDetails"
                    [isHidden]="true"
                    [isExpanded]="false"
                    [isDone]="false"
                    (add)="addProviderDetails($event)"
                    (remove)="removeProviderDetails($event, nextProvider)"
                ></app-social-result>
            </li>
        </ul>
        <div class="actions">
            <app-status [steps]="steps" [activeStepIDX]="activeStepIDX"></app-status>
            <app-button
                class="form-button"
                message="accept and continue"
                [type]="isDone ? buttons.PRIMARY : buttons.SECONDARY"
                (handleClick)="isDone ? submit() : continue()"
            ></app-button>
        </div>
    </div>
</main>
